<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>admincontroller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/loginadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumController</servlet-name>
    <servlet-class>controller.AlbumController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumController</servlet-name>
    <url-pattern>/album</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleAlbumController</servlet-name>
    <servlet-class>controller.SingleAlbumController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleAlbumController</servlet-name>
    <url-pattern>/album/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LyricController</servlet-name>
    <servlet-class>controller.LyricController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LyricController</servlet-name>
    <url-pattern>/lyric</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongController</servlet-name>
    <servlet-class>controller.SongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongController</servlet-name>
    <url-pattern>/nhac/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SinglePlaylistController</servlet-name>
    <servlet-class>controller.SinglePlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinglePlaylistController</servlet-name>
    <url-pattern>/playlist/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumAddController</servlet-name>
    <servlet-class>admincontroller.AlbumAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumAddController</servlet-name>
    <url-pattern>/admin/add/album</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumUpdateController</servlet-name>
    <servlet-class>admincontroller.AlbumUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumUpdateController</servlet-name>
    <url-pattern>/admin/update/album</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumDeleteController</servlet-name>
    <servlet-class>admincontroller.AlbumDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumDeleteController</servlet-name>
    <url-pattern>/admin/delete/album/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumForwardInforController</servlet-name>
    <servlet-class>admincontroller.AlbumForwardInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumForwardInforController</servlet-name>
    <url-pattern>/admin/infor/album/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumForwardUpdateController</servlet-name>
    <servlet-class>admincontroller.AlbumForwardUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumForwardUpdateController</servlet-name>
    <url-pattern>/admin/update/album/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumAdminController</servlet-name>
    <servlet-class>admincontroller.AlbumAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumAdminController</servlet-name>
    <url-pattern>/admin/danhsachalbum/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumForwardAddController</servlet-name>
    <servlet-class>admincontroller.AlbumForwardAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumForwardAddController</servlet-name>
    <url-pattern>/admin/add/albums</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddController</servlet-name>
    <servlet-class>admincontroller.AdminAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddController</servlet-name>
    <url-pattern>/admin/add/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteController</servlet-name>
    <servlet-class>admincontroller.AdminDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteController</servlet-name>
    <url-pattern>/admin/delete/admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUpdateController</servlet-name>
    <servlet-class>admincontroller.AdminUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateController</servlet-name>
    <url-pattern>/admin/update/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminForwardInforController</servlet-name>
    <servlet-class>admincontroller.AdminForwardInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForwardInforController</servlet-name>
    <url-pattern>/admin/infor/admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>admincontroller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForwardInforController</servlet-name>
    <url-pattern>/admin/danhsachadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongForwardAddController</servlet-name>
    <servlet-class>admincontroller.SongForwardAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongForwardAddController</servlet-name>
    <url-pattern>/admin/add/songs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongAddController</servlet-name>
    <servlet-class>admincontroller.SongAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongAddController</servlet-name>
    <url-pattern>/admin/add/song</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongDeleteController</servlet-name>
    <servlet-class>admincontroller.SongDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongDeleteController</servlet-name>
    <url-pattern>/admin/delete/song/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongForwardInforController</servlet-name>
    <servlet-class>admincontroller.SongForwardInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongForwardInforController</servlet-name>
    <url-pattern>/admin/infor/song/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongForwardUpdateController</servlet-name>
    <servlet-class>admincontroller.SongForwardUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongForwardUpdateController</servlet-name>
    <url-pattern>/admin/update/song/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongUpdateController</servlet-name>
    <servlet-class>admincontroller.SongUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongUpdateController</servlet-name>
    <url-pattern>/admin/update/song</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongAdminController</servlet-name>
    <servlet-class>admincontroller.SongAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongAdminController</servlet-name>
    <url-pattern>/admin/danhsachbaihat/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingerForwardAddController</servlet-name>
    <servlet-class>admincontroller.SingerForwardAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerForwardAddController</servlet-name>
    <url-pattern>/admin/add/singers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingerAddController</servlet-name>
    <servlet-class>admincontroller.SingerAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerAddController</servlet-name>
    <url-pattern>/admin/add/singer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingerDeleteController</servlet-name>
    <servlet-class>admincontroller.SingerDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerDeleteController</servlet-name>
    <url-pattern>/admin/delete/singer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingerForwardInforController</servlet-name>
    <servlet-class>admincontroller.SingerForwardInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerForwardInforController</servlet-name>
    <url-pattern>/admin/infor/singer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingerForwardUpdateController</servlet-name>
    <servlet-class>admincontroller.SingerForwardUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerForwardUpdateController</servlet-name>
    <url-pattern>/admin/update/singer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingerUpdateController</servlet-name>
    <servlet-class>admincontroller.SingerUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerUpdateController</servlet-name>
    <url-pattern>/admin/update/singer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingerAdminController</servlet-name>
    <servlet-class>admincontroller.SingerAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerAdminController</servlet-name>
    <url-pattern>/admin/danhsachnghesi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistForwardAddController</servlet-name>
    <servlet-class>admincontroller.PlaylistForwardAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistForwardAddController</servlet-name>
    <url-pattern>/admin/add/playlists</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistAddController</servlet-name>
    <servlet-class>admincontroller.PlaylistAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistAddController</servlet-name>
    <url-pattern>/admin/add/playlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistUpdateController</servlet-name>
    <servlet-class>admincontroller.PlaylistUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistUpdateController</servlet-name>
    <url-pattern>/admin/update/playlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistDeleteController</servlet-name>
    <servlet-class>admincontroller.PlaylistDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistDeleteController</servlet-name>
    <url-pattern>/admin/delete/playlist/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistForwardInforController</servlet-name>
    <servlet-class>admincontroller.PlaylistForwardInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistForwardInforController</servlet-name>
    <url-pattern>/admin/infor/playlist/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistForwardUpdateController</servlet-name>
    <servlet-class>admincontroller.PlaylistForwardUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistForwardUpdateController</servlet-name>
    <url-pattern>/admin/update/playlist/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistAdminController</servlet-name>
    <servlet-class>admincontroller.PlaylistAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistAdminController</servlet-name>
    <url-pattern>/admin/danhsachplaylist/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryAddController</servlet-name>
    <servlet-class>admincontroller.CategoryAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAddController</servlet-name>
    <url-pattern>/admin/add/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryUpdateController</servlet-name>
    <servlet-class>admincontroller.CategoryUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryUpdateController</servlet-name>
    <url-pattern>/admin/update/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryDeleteController</servlet-name>
    <servlet-class>admincontroller.CategoryDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDeleteController</servlet-name>
    <url-pattern>/admin/delete/category/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>admincontroller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/admin/danhsachtheloai/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountryAddController</servlet-name>
    <servlet-class>admincontroller.CountryAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryAddController</servlet-name>
    <url-pattern>/admin/add/country</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountryUpdateController</servlet-name>
    <servlet-class>admincontroller.CountryUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryUpdateController</servlet-name>
    <url-pattern>/admin/update/country</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountryDeleteController</servlet-name>
    <servlet-class>admincontroller.CountryDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryDeleteController</servlet-name>
    <url-pattern>/admin/delete/country/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountryForwardInforController</servlet-name>
    <servlet-class>admincontroller.CountryForwardInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryForwardInforController</servlet-name>
    <url-pattern>/admin/infor/country/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountryController</servlet-name>
    <servlet-class>admincontroller.CountryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryController</servlet-name>
    <url-pattern>/admin/danhsachquocgia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuController</servlet-name>
    <servlet-class>admincontroller.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuController</servlet-name>
    <url-pattern>/admin/quanlymenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuAddController</servlet-name>
    <servlet-class>admincontroller.MenuAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuAddController</servlet-name>
    <url-pattern>/admin/add/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuPathAddController</servlet-name>
    <servlet-class>admincontroller.MenuPathAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuPathAddController</servlet-name>
    <url-pattern>/admin/add/menus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuDeleteController</servlet-name>
    <servlet-class>admincontroller.MenuDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuDeleteController</servlet-name>
    <url-pattern>/admin/delete/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeleteController</servlet-name>
    <servlet-class>admincontroller.UserDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteController</servlet-name>
    <url-pattern>/admin/delete/user/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UserAdminController</servlet-name>
    <servlet-class>admincontroller.UserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminController</servlet-name>
    <url-pattern>/admin/danhsachuser/*</url-pattern>
  </servlet-mapping>
</web-app>